students/students/src/MON.Services/Schema/import.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- === Simple Types === -->
	<xs:simpleType name="AlphaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\s|.'`абвгдежзийклмнопрстуфхцчшщъьюяАБВГДЕЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЬЮЯ-]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9 | A-Z | a-z | А-Я | a-я | -„”'`_äöüÄÖÜß\n\r\t]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLatinType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z | a-z | '`_äöüÄÖÜß-]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstitutionCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SchoolYearType">
		<xs:restriction base="xs:short">
			<xs:minInclusive value="1900"/>
			<xs:maxInclusive value="2100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Alpha2Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Diploma">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="xs:int"/>
				<xs:element name="Person">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonalIdType">
								<xs:simpleType>
									<xs:restriction base="xs:short">
										<xs:enumeration value="0"/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PersonalId" type="xs:string"/>
							<xs:element name="FirstName" type="AlphaType"/>
							<xs:element name="FirstNameLatin" type="AlphaLatinType"/>
							<xs:element name="MiddleName" type="AlphaType" nillable="true" minOccurs="0"/>
							<xs:element name="MiddleNameLatin" type="AlphaLatinType" nillable="true" minOccurs="0"/>
							<xs:element name="LastName" type="AlphaType"/>
							<xs:element name="LastNameLatin" type="AlphaLatinType"/>
							<xs:element name="BirthPlaceTown" type="xs:string"/>
							<xs:element name="BirthPlaceMunicipality" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="BirthPlaceRegion" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- Номенклатура Nationality -->
							<xs:element name="Nationality" type="Alpha2Type" nillable="true" minOccurs="0"/>
							<xs:element name="NationalityName" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Institution">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InstitutionCode" type="InstitutionCodeType"/>
							<xs:element name="InstitutionName" type="AlphaNumType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Document">
					<xs:complexType>
						<xs:sequence>
							<!-- Номенклатура BasicDocumentType -->
							<xs:element name="BasicDocumentType" type="xs:int"/>
							<xs:element name="BasicDocumentTypeName" type="xs:string"/>
							<!-- Номенклатура Ministry -->
							<xs:element name="Ministry" type="xs:int" nillable="true" minOccurs="0"/>
							<xs:element name="MinistryName" type="xs:string" minOccurs="0"/>
							<xs:element name="Series" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[АБВГДЕЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЮЯ]{1,2}(-[\d]{2})?"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FactoryNumber" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[0-9]{6}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- RegistrationNumberTotal -->
							<xs:element name="RegNumber1" type="xs:string"/>
							<!-- RegistrationNumberYear -->
							<xs:element name="RegNumber2" type="xs:string"/>
							<xs:element name="RegDate" type="xs:date"/>
							<!-- Протокол на зрелостната комисия -->
							<xs:element name="ProtocolNumber" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="ProtocolDate" type="xs:date" nillable="true" minOccurs="0"/>
							<!-- Директор и пълномощник -->
							<xs:element name="Principal" type="xs:string"/>
							<xs:element name="Deputy" type="xs:string" minOccurs="0"/>
							<!-- Класен ръководител -->
							<xs:element name="LeadTeacher" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Education">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SchoolYear" type="SchoolYearType"/>
							<xs:element name="YearGraduated" type="SchoolYearType"/>
							<!-- Общ успех -->
							<xs:element name="Gpa" type="xs:decimal" nillable="true" minOccurs="0"/>
							<xs:element name="GpaText" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- Държавен изпит за придобиване на професионална квалификация -->
							<xs:element name="StateExamQualificationGrade" type="xs:decimal" nillable="true" minOccurs="0"/>
							<xs:element name="StateExamQualificationGradeText" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- За 3-42 Диплома за средно образование
								За 3-27В Удостоверение за валидиране на компетентности -->
							<xs:element name="EducationType" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:short">
										<xs:enumeration value="0"/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
										<xs:enumeration value="3"/>
										<xs:enumeration value="4"/>
										<xs:enumeration value="5"/>
										<!-- 0 няма -->
										<!-- 1 средно образование -->
										<!-- 2 средно специално образование -->
										<!-- 3 начален етап -->
										<!-- 4 основна степен на образование -->
										<!-- 5 първи гимнназиален етап -->
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- Номенклатура EducationForm -->
							<xs:element name="EducationForm" type="xs:int" nillable="true" minOccurs="0"/>
							<xs:element name="EducationFormName" type="xs:string"/>
							<!-- Част от професията - 3-37В Удостоверение за валидиране на професионална квалификация по част от професия-->
							<xs:element name="ProfessionPart" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- Номенклатура Profile -->
							<xs:element name="Profile" type="xs:int" nillable="true" minOccurs="0"/>
							<xs:element name="ProfileName" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- Номенклатура Proffession -->
							<xs:element name="Profession" type="xs:int" nillable="true" minOccurs="0"/>
							<xs:element name="ProfessionName" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- Speciality -->
							<xs:element name="Speciality" type="xs:int" nillable="true" minOccurs="0"/>
							<xs:element name="SpecialityName" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- Степен на професионална квалификация (за 3-54 Свидетелство за професионална квалификация) -->
							<xs:element name="VetLevel" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:short">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- Квалификация (за 3-42 Диплома за средо образование)-->
							<xs:element name="Qualification" type="xs:string" minOccurs="0"/>
							<!-- Продължителност на обучението -->
							<xs:element name="Duration" type="xs:decimal" nillable="true" minOccurs="0"/>
							<!-- Ниво от общата европейска езикова рамка -->
							<xs:element name="FLGELevel" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- Ниво от Eвропейската референтна рамка за дигиталните компетентности - от 1 до 8 вкл.-->
							<xs:element name="ITLevel" type="xs:int" nillable="true" minOccurs="0"/>
							<!-- За кой клас (7 или 8) се отнася документа - 3-20 след завършен седми клас/3-20 след завършен осми клас-->
							<xs:element name="BasicClass" type="xs:int" nillable="true" minOccurs="0"/>
							<!-- Ниво от Националната квалификационна рамка -->
							<xs:element name="NKR" type="xs:int" nillable="true" minOccurs="0"/>
							<!-- Ниво от Европейската квалификационна рамка -->
							<xs:element name="EKR" type="xs:int" nillable="true" minOccurs="0"/>
							<!-- Сесия - например при документ за валидиране -->
							<xs:element name="Session" type="xs:string" nillable="true" minOccurs="0"/>
							<!-- Друга информация в свободен текст като: Резултати от обучението по индивидуални учебни програми за ученици със специални образователни потребности / Признати знания и умения / Наименование на курса за професионално обучение и др.-->
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AdditionalDocuments" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AdditionalDocument" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BasicDocumentType" type="xs:int" nillable="true" minOccurs="0"/>
										<xs:element name="BasicDocumentTypeName" type="xs:string"/>
										<xs:element name="Institution">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="InstitutionCode" type="InstitutionCodeType" nillable="true" minOccurs="0"/>
													<xs:element name="InstitutionName" type="xs:string"/>
													<xs:element name="InstitutionAddress" type="xs:string" minOccurs="0"/>
													<xs:element name="Town" type="xs:string" minOccurs="0"/>
													<xs:element name="Municipality" type="xs:string" minOccurs="0"/>
													<xs:element name="District" type="xs:string" minOccurs="0"/>
													<xs:element name="Region" type="xs:string" minOccurs="0"/>
													<xs:element name="LocalArea" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Series" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="FactoryNumber" type="xs:string" nillable="true" minOccurs="0"/>
										<!-- RegistrationNumberTotal -->
										<xs:element name="RegNumber1" type="xs:string"/>
										<!-- RegistrationNumberYear -->
										<xs:element name="RegNumber2" type="xs:string"/>
										<xs:element name="RegDate" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Commission" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<!-- Протокол на комисията -->
							<xs:element name="OrderNo" type="xs:string" nillable="true" minOccurs="0"/>
							<xs:element name="OrderDate" type="xs:date" nillable="true" minOccurs="0"/>
							<xs:element name="Member" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Position" type="xs:int"/>
										<xs:element name="Name" type="AlphaType"/>
										<xs:element name="NameLatin" type="AlphaLatinType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- Забележка: В свидетелство за ПК може да не се подават оценки от учебни предмети -->
				<xs:element name="Subjects" nillable="true" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Subject" type="SubjectType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Images">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Image" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Position" type="xs:int"/>
										<!-- Съдържанието е в base64 формат -->
										<xs:element name="Contents" type="xs:string"/>
										<xs:element name="ContentType" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GradeType">
		<xs:sequence>
			<xs:element name="Grade" type="xs:decimal"/>
			<xs:element name="GradeText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialNeedsGradeType">
		<xs:sequence>
			<xs:element name="Grade">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<!-- 1: Среща затруднения-->
						<!-- 2: Справя се-->
						<!-- 3: Постига изискванията-->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GradeText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherGradeType">
		<xs:sequence>
			<xs:element name="Grade">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<!-- 1: Зачита се-->
						<!-- 2: Не се зачита-->
						<!-- 3: Освободен-->
						<!-- 4: Интензивно -->
						<!-- 5: Без оценка -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GradeText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QualitativeGradeType">
		<xs:sequence>
			<xs:element name="Grade">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="40"/>
						<xs:enumeration value="41"/>
						<xs:enumeration value="42"/>
						<xs:enumeration value="43"/>
						<xs:enumeration value="44"/>
						<xs:enumeration value="45"/>
						<xs:enumeration value="46"/>
						<xs:enumeration value="47"/>
						<xs:enumeration value="48"/>
						<xs:enumeration value="49"/>
						<!--40, 'Незадоволителен'
							41, 'Среден'
							42, 'Добър'
							43, 'Мн. добър'
							44, 'Отличен'
							45, 'Неявил се'
							46, 'Постига изискванията'
							47, 'Справя се', 'Справя се'
							48, 'Среща затрудненияе'
							49, 'Освободен' -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GradeText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoGradeType">
		<xs:sequence>
			<xs:element name="Information" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectType">
		<xs:sequence>
			<!-- Идентификатор на секцията в документа
				Номенклатура BasicDocumentPart -->
			<xs:element name="BasicDocumentPart" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="Position" type="xs:int" nillable="true" minOccurs="0"/>
			<!-- Номенклатура Subject -->
			<xs:element name="SubjectId" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="SubjectName" type="xs:string"/>
			<!-- Номенклатура SubjectType, може да е null, само ако е подрубрика, тоест е попълнено NoGradeType -->
			<xs:element name="SubjectType" type="xs:int" nillable="true" minOccurs="0"/>
			<!-- За 3-30 Свидетелство за основно образование -->
			<xs:element name="BasicClass" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="Horarium" type="xs:int" nillable="true" minOccurs="0"/>
			<!-- choice или без оценка -->
			<xs:choice minOccurs="0">
				<xs:element name="Grade" type="GradeType"/>
				<xs:element name="SpecialNeedsGrade" type="SpecialNeedsGradeType"/>
				<xs:element name="OtherGrade" type="OtherGradeType"/>
				<xs:element name="NoGrade" type="NoGradeType"/>
				<xs:element name="QualitativeGrade" type="QualitativeGradeType"/>
			</xs:choice>
			<!-- Номенклатура FlLevel -->
			<xs:element name="FlLevel" type="xs:string" minOccurs="0"/>
			<xs:element name="Points" type="xs:decimal" minOccurs="0"/>
			<!--
				1. оценка А се поставя при резултат отличен 6,00;
				2. оценка В се поставя при резултат отличен 5,50 - 5,99;
				3. оценка С се поставя при резултат много добър 4,50 - 5,49;
				4. оценка D се поставя при резултат добър 3,50 - 4,49;
				5. оценка E се поставя при резултат среден 3,00 - 3,49.
			-->
			<xs:element name="ECTS" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[ABCDE]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Номенклатура GradeType -->
			<xs:element name="GradeType" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="FlSubjectId" type="xs:int" minOccurs="0"/>
			<xs:element name="FlSubjectName" type="xs:string" minOccurs="0"/>
			<xs:element name="FlHorarium" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="Modules" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Subject" type="SubjectType" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
